<div id="background_header"></div>
<div id="background_body"></div>

<div id="chatContainer">
  <app-sidebar (conversationClicked)="onConversationSelected($event)"></app-sidebar>
  
  <div id="chat" >
    <div id="chatPlaceholder" *ngIf="!conversation"  style="margin-left:80px; margin-top: 50px;">
      <img width="200px" src="../assets/images/sr3sarat.jpg" alt="" style="border-radius: 100px; ">
      <h2 class="mt-3">Keep your phone connected</h2>
      <p>SR3 app connects your phone to sync messages <br> To reduce data usage connect to a wifi network.</p>
      <div class="seperator"></div>

      <p>SR3 is avalable for Mac also.<a href="#">Get it here! </a> </p>
    </div>
    <app-chat [conversation]="conversation" *ngIf="conversation" ></app-chat>
  </div>
</div>
<router-outlet id="background_body"></router-outlet>
