#sidebar{
    flex-basis: 350px;
    width: 100%;
    height: 100%;
    border-right:1px solid #e1e4e5;
    display: flex;
    flex-direction: column;

    
    #sidebarHeader{
        flex-basis: 67px;
        background-color: #eeeeee;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 5px;
        padding-right: 20px;
        padding-bottom: 8px;

        .avatarContainer{
           flex-basis: 43px;
           height: 43px;

           img{
            height:100%;
           }
        }
        .actionContainer{
            
            flex-grow:1;
            height: 100%;
            width: 10px;
           display: flex;
           justify-content: flex-end;
           padding-top: 10px;
           
           .icon{
            display: flex;
            align-items: center;
            width: 90px;
            justify-content: flex-end;
            gap: 12px;
           }
        }

    }
    #sidebarSearchbox{
        flex-basis: 60px;
        background-color:#fbfbfb;
        border-bottom:1px solid #e1e4e5;
        display:flex;
        align-items: center;justify-content: center;

        input{
            width: calc(100% - 100px);
            border:none;
            
            border-radius: 20px;
            height:70%;
            padding-left:60px;
            color:#9a9a9a;
            outline: none;
            &::placeholder{
                color: #9a9a9a;
                font-weight: 20;
            }
        }

    }
    #noConversation{
        padding-top: 30px;
        text-align: center;
        color: #b9b9b9;
        font-size: 18px;
        font-family: sans-serif;
        font-weight: 100;
    }
    #sidebarContent{
        overflow: auto;
        .conversation{
            width: 200px;
            height:67px;
            display: flex;
            padding: 0px;
            transition: all 0.4s ease-in-out;

            &:hover{
                background-color: rgb(240, 240, 240);
            }
            .picture{
                flex-basis: 73px;
                width: 48px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px;
            }
            .content{
                height: 100%;
                border-bottom: 1px solid #f2f2f2;
                flex-grow: 1;
                padding: 13px 0px;
                padding-right: 10px;
                overflow: hidden;
                .conversationHeader{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .name{
                      color: #040404;  
                    }
                    .time{
                        color: #979797;
                        font-size: 13px;
                        padding-top: 2px;
                    }
                }
                .message{
                        color: #717171;
                        font-size:15px ;
                        padding-top: 5px;
                        display: flex;
                        align-items: center;
                        overflow: hidden;

                        img{
                            margin-right: 0px;
                        }
                }
            }
        }
    }
    }